<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{customer.delete}"></title>
</head>
<body>
<span>Language:<a href="?lang=en">English</a> | <a href="?lang=japan">Japan</a></span>
<h1 th:text="#{customer.title.delete}"></h1>
<h2 th:text="#{customer.areyousure}"></h2>
<p>
    <a href="/customers" th:text="#{customer.list}"></a>
</p>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td th:text="#{customer.firstname}"></td>
            <td th:text="${customer.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{customer.lastname}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{customer.title.delete}"></td>
        </tr>
    </table>
</form>
</body>
</html>